*{
  box-sizing: border-box;
}
body, p, h1, h2, a{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
}

/* Header page */
.main-header{
  width: 100%;
  border: solid 1px black ;
  margin: 0 auto;
  position: relative;
  background:linear-gradient( rgba(109, 13, 77, 0.2) 100%,
   rgba(230, 57, 100, 0.5)100%),url("../img/4H9A7913.jpg");
  background-size: cover;
}


.main-header__menu{
  display: flex;
  max-width: 941px;
  margin: 50px auto;
  justify-content: space-between;
  }

.main-header__logo{
  display: flex;
  align-items: flex-end;
}

.main-header__name{
  padding: 5px;
  font-size: 30px;
  line-height: 23px;
  text-decoration: none;
}

.neo{
  background-image: linear-gradient(17.82deg, #a234d5 0%, #d74059 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-header__nav{
  display: flex;
  align-items: flex-end;

}

.nav__link{
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
  padding: 15px;
}

.wellcome{
  border-bottom: 3px solid ;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #a234d5 0%, #d74059 100%);
}

.touch{
  border: solid 3px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #a234D5 0%, #d74059 100%);
}

.rectangle__container{
  width: 200px;
  margin: auto;
  margin-top: 20%;
  display: flex;
  justify-content: space-around;
}
.rectangle__item{
  width: 40px;
  height: 8px;
  background-color: white;
}

.nonactive{
  opacity: 0.4;
}

.banner{
  text-align: center;
  margin-top: 70px;
}

.banner__title{
  font-size: 56px;
  line-height: 23px;
  letter-spacing: 0.00357143em;;
}

.banner__content{
  font-size: 20px;
  line-height: 25px;
  max-width: 528px;
  margin: 50px auto;
}

.banner_button{
  padding: 15px;
  margin-top: 30px;
  background: linear-gradient(17.82deg, #a234d5 0%, #d74059 100%);
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: 0.00357143em;
}

.arow-down{
  width: max-content;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 50px;
}


/* Header footer */
.header-footer{
  width: 100%;
  height: 510px;
  background: linear-gradient(35.31deg, #1a0e24 0%, #2e2236 100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

}

.header-footer > aside{
  text-align: center;
}

.header-footer__title{
  font-size: 48px;
  line-height: 23px;
  letter-spacing: 0.00357143em;
}

.header-footer__content{
  font-size: 22px;
  line-height: 23px;
  max-width: 440px;
  margin: 50px auto;
}

.header-footer__button{
  width: 140px;
  height: 45px;
  background: linear-gradient(17.82deg, #a234d5 0%, #d74059 100%);
  border-radius: 5px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.00357143em;
  color: #ffffff;
}

/* Our services */
.our-services{
  width: 100%;
  height: 1024px;
  background: linear-gradient(35.42deg, #a234d5 0%, #d74059 100%);
  display: grid ;
}

.our-services__container{
  max-width: 944px;
  display: grid;
  margin: auto;
}

.our-services__header{
  display: grid;
  text-align: center;
  letter-spacing: 0.00357143em;
  padding-bottom: 30px;
}

.our-services__title{
  font-size: 56px;
  line-height: 23px;
  padding: 30px;
}

.our-services__des{
  font-size: 20px;
  line-height: 25px;
  max-width: 528px;
  margin: auto;
}

.our-services__menu{
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
  border-bottom: solid 1px white;
}

.link__active{
  border-bottom: solid 2px white;
}

.our-services__link{
  text-decoration: none;
  font-size: 25px;
  line-height: 23px;
  padding-bottom: 15px;
}

.our-services__content{
  padding-top: 100px;
  display: flex;
}

.box__shadow{
  width: 380px;
  background: radial-gradient(25.63% 4.26% at 50% 50%, #000000 0%,
   rgba(0, 0, 0, 0.0001) 100%);
  height: 53px;
}

.our-services__container--right{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.our-services__title--right{
  font-size: 45px;
  line-height: 23px;
  padding-bottom: 50px;
}

.our-services__content--right{
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 20px;
}


/* Partners  */
.partners{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* Team */
.team{
  width: 100%;
  height: 710px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #1A0e24;
  opacity: 0.98;
}

.team--left{
  align-self: center;
  text-align: center;
}

.team--left > h1{
  font-size: 48px;
  line-height: 23px;
  letter-spacing: 0.00357143em;
}

.team--left > h2{
  font-size: 30px;
  line-height: 23px;
  letter-spacing: 0.00357143em;
  margin: 30px auto;
}

.team--left > p{
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.00357143em;
  max-width: 440px;
  margin: 50px auto;
}

.container__btn{
  width: 220px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn{
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.00357143em;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.btn--active{
  background: linear-gradient(17.82deg, #a234d5 0%, #d74059 100%);
  color: white;
}
.btn--nonactive{
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #a234d5 0%, #d74059 100%);
  background-color: #1a0e24;
  color: white;
}

.team--right{
  background: linear-gradient(44.6deg,rgba(162,52,213,0.5) 0%,
  rgba(215,64,89,0.5)  100%), url("../img/14064556968_f245c4eba7_o_d.png");
  background-size: cover;
}


/* Follow us */
.follow-us{
  width: 100%;
  height: 1024px;
  background-color: #1A0E24;
  display: grid;
}

.follow-us__header{
  text-align: center;
  align-self: end;
}

.follow-us__header >h1{
  font-size: 56px;
  line-height: 49px;
  max-width: 332px;
  margin: auto;
}

.follow-us__header >p{
  font-size: 28px;
  line-height: 15px;
  padding: 30px;
}

.follow-us__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__image{
  width: 450px;
  height: 450px;
}

.follow-us__image{
  width: 100%;
  height: 100%;
}

.follow-us__footer{
  text-align: center;
}

.follow-us__footer > h1{
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0.00357143em;
  padding-bottom: 50px;
}

.follow-us__footer > div{
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/* Footer */
.footer{
  width: 100%;
  height: 250px;
  border: solid 1px black ;
}